.training{
    background-color: rgb(41, 41, 42);
    height: 100%;
}

.training-header{
    color: #f0f8ff;
}
.training-subheader{
    color: #babbbb;
}
.training-content{
    padding: 10%;

}

.course-selection{
    background-color: rgb(68, 68, 68);
    border: none;
    color: white;
}