.training{
    background-color: rgb(41, 41, 42);
    height: 100%;
}

.training-header{
    color: #f0f8ff;
}
.training-subheader{
    color: #babbbb;
}
.training-content{
    padding: 10%;

}

.course-selection{
    background-color: rgb(68, 68, 68);
    border: none;
    color: rgb(194, 194, 194);
}

.course-selection:hover{
    background-color: rgb(120, 123, 123);
    color: rgb(222, 218, 218);
}

.error-alert{
    margin-bottom: 20px;
    color: #6edff6;
    background-color: #032830;
    border: 1px solid #6edff6;

}